* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
.bodyDiv {
  height: auto;
  background: #2b5876; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #4e4376,
    #2b5876
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #4e4376,
    #2b5876
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* Style the header */
header {
  width: 100% !important;
  background-color: #666;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: white;
}

/* Create two columns/boxes that floats next to each other */
nav {
  float: left;
  /* width: 30%; */
  /* height: auto; only for demonstration, should be removed */
  /* background: #ccc; */
  padding: 20px;
}

/* Style the list inside the menu */
nav ul {
  list-style-type: none;
  padding: 0;
}

article {
  margin-top: 20px;
  float: left;
  padding: 20px;
  width: 75%;
  background-color: #f1f1f1;
  margin-bottom: 100px;
  border-radius: 40px;
  /* height: 300px; only for demonstration, should be removed */
}

/* Clear floats after the columns */
section::after {
  content: "";
  display: table;
  clear: both;
}

/* Style the footer */
footer {
  /* background-color: #777; */
  background-color: #000;
  padding: 5px;
  text-align: center;
  color: white;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}
.navbar {
  width: 100% !important;
}

.cardBox {
  background-color: #fff;
  width: 300px;
  margin: 20px;
  /* height: 100px; */
  /* border: 1px solid #ccc; */
  border: none;
  padding: 30px;
  transition: box-shadow 0.2s ease-in-out, transform 0.35s ease-in-out;
  border-radius: 10px;
}

.cardBox:hover {
  box-shadow: 0 11px 11px 0 rgba(0, 0, 0, 0.16);
  transform: translateY(-5px);
}

.Cards__Component {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
img {
  width: 90px;
}

.cardTile {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.texts {
  text-align: center;
}
.cardTitle {
  margin-left: 30px;
  font-weight: 700;
  font-size: 18px;
}
.cardBody {
  margin-left: 30px;
  font-weight: bold;
  font-size: 50px;
}
/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
@media (max-width: 600px) {
  nav,
  article {
    width: 100%;
    height: auto;
  }
  .Cards__Component {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}
