#role {
  width: 100px;
  height: 30px;
}

.loginForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.role__button {
  width: 200px;
  height: 50px;
  margin-bottom: 20px;
}
.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}

.roleSelector {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.backButton {
  width: 100px;
  height: 40px;
  margin-top: 50px;
}
.student,
.teacher,
.admin,
.owner {
  display: flex;
  flex-direction: column;
}

.loginButton {
  height: 50px;
}

.bodyDivLogin {
  height: 100vh;
  background: #159957; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #155799,
    #159957
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #155799,
    #159957
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.heading {
  font-size: xx-large;
  color: #fff;
  margin-bottom: 20px;
}

.smallBox {
  margin-top: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inputBox {
  border: none;
  border-radius: 5px;
  width: 200px;
  padding: 5px;
}
