#role {
  width: 100px;
  height: 30px;
}

.loginForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.role__button {
  width: 200px;
  height: 50px;
  margin-bottom: 20px;
}
.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}

.roleSelector {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5%;
}

.backButton {
  width: 100px;
  height: 40px;
  margin-top: 50px;
}
.student,
.teacher,
.admin,
.owner {
  display: flex;
  flex-direction: column;
}

.loginButton {
  height: 50px;
}
